<div class="container mt-5">
    <h1>IIFL Securities Companies Directory</h1>
   
      
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <ul>
          <li><a href="#"  ngbNavLink>A</a> </li>
          <li><a href="#" ngbNavLink>B</a> </li>
          <li><a href="#" ngbNavLink>C</a> </li>
          <li><a href="#" ngbNavLink>D</a> </li>
          <li><a href="#" ngbNavLink>E</a> </li>
          <li><a href="#" ngbNavLink>F</a> </li>
          <li><a href="#" ngbNavLink>G</a> </li>
          <li><a href="#" ngbNavLink>H</a> </li>
          <li><a href="#" ngbNavLink>I</a> </li>
          <li><a href="#" ngbNavLink>J</a> </li>
          <li><a href="#" ngbNavLink>K</a> </li>
          <li><a href="#" ngbNavLink>L</a> </li>
          <li><a href="#" ngbNavLink>M</a> </li>
          <li><a href="#" ngbNavLink>N</a> </li>
          <li><a href="#" ngbNavLink>O</a> </li>
          <li><a href="#" ngbNavLink>P</a> </li>
          <li><a href="#" ngbNavLink>Q</a> </li>
          <li><a href="#" ngbNavLink>R</a> </li>
          <li><a href="#" ngbNavLink>S</a> </li>
          <li><a href="#" ngbNavLink>T</a> </li>
          <li><a href="#" ngbNavLink>U</a> </li>
          <li><a href="#" ngbNavLink>V</a> </li>
          <li><a href="#" ngbNavLink>W</a> </li>
          <li><a href="#" ngbNavLink>X</a> </li>
          <li><a href="#" ngbNavLink>Y</a> </li>
          <li><a href="#" ngbNavLink>Z</a> </li>
          <li><a href="#" ngbNavLink>All</a> </li>
          <li><a href="#" ngbNavLink>1-9</a> </li>
        </ul>  
        <ng-template ngbNavContent>
         <div class="list-wrapper">
          <ul>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
          </ul>
         </div>
        </ng-template>
      </ng-container>

      <!-- 2 -->
       <!-- <ng-container ngbNavItem> 
        <a ngbNavLink>B</a>
        <ng-template ngbNavContent>
         <div class="list-wrapper">
          <ul>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
          </ul>
         </div>
        </ng-template>
      </ng-container>  -->
      <!-- 3 -->
      <!-- <ng-container ngbNavItem>
        <a ngbNavLink>C</a>
        <ng-template ngbNavContent>
         <div class="list-wrapper">
          <ul>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
            <li><a href="">Abacus Computers Ltd</a></li>
          </ul>
         </div>
        </ng-template>
      </ng-container> -->
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>



